

<main class="index">

    <section class="close-wrapper d-none"></section>
    <section class="log-overlay-bg d-none">
        <div class="todays-logs__log-wrapper--overlay">
            <article class="log--overlay">
                <div class="log--overlay__graphic-wrapper--overlay log-tile-img-<%= @weather_symbol_code %>">
                    <div class="temperatures--overlay">
                        <span><%= @min_temp %>°C</span><span><%= @max_temp %>°C</span>
                    </div>
                </div>
                <div class="log--overlay__description-wrapper--overlay">
                    <h4>Did today's weather make or break you?</h4>
                    <form action="/create_log" method="post">
                        <input type="hidden" name="min_temp" value="<%= @min_temp %>">
                        <input type="hidden" name="max_temp" value="<%= @max_temp %>">
                        <input type="hidden" name="weather_symbol_code" value="<%= @weather_symbol_code %>">
                        <textarea type="text" name="log" placeholder="enter your log here..."></textarea>
                        <button class="button grey-btn post-log-btn">Tell the world</button>
                    </form>
                </div>
            </article>
        </div>
    </section>


    <header class="header header-img-<%= @weather_symbol_code %>">
        <nav class="header__nav">
            <div class="header__nav-img-wrapper">
                <img src="/assets/img/logo-white.svg" alt="">
            </div>
            <div class="header__nav-items">
                <a href="/">feed</a>
                <a href="/">about</a>
                <a href="/">profile</a>
                <form class="logout-form" action="/logout_user" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button class="logout-btn"><a href="/logout_user"><img src="/assets/img/power.svg" alt=""></a></button>
                </form>
            </div>
        </nav>
        <section class="header__cta">
            <h1>Did today’s weather make or break you?</h1>
            <button class="button log-btn">Tell the world!</button>
        </section>
    </header>

    <section class="logs">
        <div class="todays-logs">
            <h1>Today's logs:</h1>
            <div class="todays-logs__log-wrapper">

                <% @todays_logs.each do |log| %>

                    <article class="log">
                        <div class="log__graphic-wrapper tile-img-<%= log["weather"] %>">
                            <div class="temperatures">
                                <span><%= log["min_temp"] %>°C</span><span><%= log["max_temp"] %>°C</span>
                            </div>
                        </div>
                        <div class="log__description-wrapper">
                            <p class="id-line"><%= log["name"] %> from <%= log["location"] %> on <%= log["date"] %></p>
                            <h4><%= log["log"] %></h4>
                        </div>
                    </article>

                <% end %>

            </div>
        </div>
    </section>

    <footer>
        <div>
            <img src="/assets/img/logo-col.png" alt="">
        </div>
    </footer>



</main>

