<main class="index">

    <header class="header header--profile header-img-<%= session[:weather_symbol_code] %>">
        <nav class="header__nav">
            <div class="header__nav-img-wrapper">
                <a href="/"><img src="/assets/img/logo-white.svg" alt=""></a>
            </div>
            <div class="header__nav-items">
                <a href="/">feed</a>
                <a href="/profile_user/<%= session[:user_id] %>">profile</a>
                <form class="logout-form" action="/logout_user" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button class="logout-btn"><a href="/logout_user"><img src="/assets/img/power.svg" alt=""></a></button>
                </form>
            </div>
        </nav>
        <section class="header__cta">
            <h1 class="profile-h1"><%= @user_name %><br> has made <%= @indi_logs["count"] %> posts...</h1>
            <% if session[:user_id] == @user_id%>
                <p class="account-edits delete-user">delete account</p>
                <form class="delete-confirm d-none" action="/delete_user?user_id=<%= session[:user_id] %>" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button class="delete-user-btn"><p class="delete-user">click again to confirm this action</p></button>
                </form>

                <span class="account-edits"><p> | </p></span>

                <span>
                    <form class="edit-confirm edit-form" action="/edit_user" method="get">
                        <button class="delete-user-btn"><p class="delete-user">edit account details</p></button>
                    </form>
                </span>

            <% end %>
        </section>
    </header>

    <section class="logs">
        <div class="todays-logs">
            <% if session[:user_id] == @user_id%>
                <h1>Your logs:</h1>
            <% else %>
                <h1>Users logs:</h1>
            <% end %>
            <div class="todays-logs__log-wrapper">

                <% @users_logs.each do |log| %>

                    <article class="log">
                        <div class="log__graphic-wrapper tile-img-<%= log["weather"] %>">
                            <div class="temperatures">
                                <span><%= log["min_temp"] %>°C</span><span><%= log["max_temp"] %>°C</span>
                            </div>
                        </div>
                        <% @all_users.each do |user| %>
                            <% if user["id"] == log["user_id"] %>
                                <div class="log__description-wrapper">
                                    <p class="id-line">
                                        <a class="mid-grey-link" href="/profile_user/<%= user["id"] %>">
                                            <%= user["name"] %>
                                        </a>
                                        from
                                        <span class="mid-grey"><%= user["location"] %></span>
                                        on
                                        <span class="mid-grey">
                                            <% time = log['created_at'] %>
                                            <% date = time.split(' ').first %>
                                            <% y, d, m = date.split('-') %>
                                            <%= "#{d}.#{m}.#{y}" %>
                                        </span>
                                    </p>
                                    <h4><%= log["log"] %></h4>
                                </div>
                            <% end %> 
                        <% end %>    
                        <% if session[:user_id] == log["user_id"]%>
                            <form action="/delete_log?id=<%= log["id"] %>&user_id=<%= log["user_id"] %>" method="post">
                                <input type="hidden" name="_method" value="delete">
                                <button class="close-btn"><img class="close" src="/assets/img/exit.svg" alt=""></button>
                            </form>
                        <% end %>
                    </article>

                <% end %>

            </div>
        </div>
    </section>

</main>